<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApplication11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <WebApplication11.Properties.Settings>
            <setting name="WebApplication11_webservice_WebService1" serializeAs="String">
                <value>http://localhost:49893/WebService1.asmx</value>
            </setting>
        </WebApplication11.Properties.Settings>
    </applicationSettings>
</configuration>
